/ {
    pinctrl: pinctrl {
        compatible = "nordic,nrf-pinctrl";
        pwm0_default: pwm0_default {
            group1 {
                psels = <NRF_PSEL(PWM_OUT0, 0, 15)>;
            };
        };
    };

    pwm0: pwm0 {
        status = "okay";
        pinctrl-0 = <&pwm0_default>;
        pinctrl-names = "default";
    };

    led_strip: led_strip {
        compatible = "worldsemi,ws2812-spi";
        chain-length = <48>;
        spi-mosi-pin = <15>;
        color-order = "RGB";
    };

    underglow {
        compatible = "zmk,underglow";
        label = "Underglow";
        strip = <&led_strip>;
    };

    chosen {
        zmk,underglow = &underglow;
    };
};
